<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Create Calendar</h1>
    <p class="lead">Create a calendar to organize sharing of an item</p>
    <img src="assets/images/logo.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container" id="createCalBox" ng-show="main.mainDiv">

<!-- form to create a calendar -->
<form name="newCal" class="calendar-form" role="form">
    <h2>Enter calendar details below:</h2>
  <fieldset class="form-group">
    <label for="inputEmail">Email address*</label>
    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter email" ng-model="main.Email" required>
    <small class="invalidInput" ng-show="newCal.email.$touched&&newCal.email.$invalid">*Email is required.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputName">Name*</label>
    <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" ng-model="main.Name" required>
        <small class="invalidInput" ng-show="newCal.name.$touched&&newCal.name.$invalid">*Name is required.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" rows="3"  placeholder="Description" ng-model="main.Description"></textarea>
  </fieldset>

<!-- scrollable view of current memebrs -->
<div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">Current Group Members: {{main.currentGroup}}</h4>
      <div class="scroll">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="member in main.membersTemp">
        <li>{{member.name}} - {{member.email}}<button type="button" class="close" ng-click="main.deleteMember(member)">&times;</button></a></li>
      </ul>
      </div>
    </div>
  </div>

<!-- collapsable box for members -->
<p>
 <button  class="btn btn-primary collapsed"   ng-click="main.changeCollapseBtn()" type="button" data-toggle="collapse" data-target="#memberBox" aria-expanded="false" aria-controls="memberBox">{{main.collapseText}}
    <span class="caret" id="collapseCaret"></span>
</button>
</p>
<div class="collapse" id="memberBox">
   <form class="member-form">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label class="sr-only" for="memName">Name</label>
          <input type="text" class="form-control" id="memName" placeholder="Name of member" ng-model="main.memName">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="sr-only" for="memEmail">Email</label>
          <input type="text" class="form-control" id="memEmail" placeholder="Email address" ng-model="main.memEmail">
        </div>
      </div>
      <div class="col-sm-4">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="main.addMember()">Add Member</button>
        </span>
      </div>
  </div>
</form>
  </div>

<!-- checkbox for sending email to members if it is checked-->
  <div class="checkbox">
    <label>
      <input type="checkbox" id="sendEmail" ng-model="main.sendEmail"> Send calendar link to all members
    </label>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="main.addCalendar()">Create Calendar</button>
   <button type="reset" class="btn btn-primary" ng-click="main.resetAddCalFields()">Clear All</button>
</form>

</div>

<!-- this is the view that appears after user creates a calendar. it displays links to the user -->
<div class="container" id="waitScreenBox"  ng-hide="main.mainDiv">
<h2>Your calendar <u><b>{{main.calendar.name}}</b></u> was created.</h2>
<br />
<h5>Follow the link below for admin view where you can update or delete your calendar.</h5>
<a href="{{main.adminLink}}" target="_blank">{{main.adminLink}}</a>
<br />
<br />
<h5>Send the link below to other users so they can create and view events.</h5>
<a href="{{main.activeLink}}" target="_blank">{{main.activeLink}}</a>
<br />
<br />
</div>

<footer></footer>
