.calendar-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#box{
  border: solid 1px black;
  margin-top: 10px;
  padding-bottom: 10px;
}

#memberBox{
  padding: 10px;
  border: solid 1px grey;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.invalidInput{
    color: red;
    font-weight: bold;
}

div.scroll {
    width: 100%;
    height: 100px;
    overflow: scroll;
}